<h1>Add Product </h1>
<form>
  <div class="form-group">
    <label for="one1">id : </label>
    <input [(ngModel)]="myCustumer.id" type="text" id="one1" name="id" placeholder="Enter id ... ">
  
  </div>
<div class="form-group">
  <label for="one">Name : </label>
  <input [(ngModel)]="myCustumer.name" type="text" id="one" name="name" placeholder="Enter name ... ">

</div>
<div class="form-group">
  <label for="two"> Price : </label>
  <input [(ngModel)]="myCustumer.genre" type="text" id="two" name="name" placeholder="Enter  Genre ... ">

</div>
<div class="form-group">
  <label for="three"> Discount  :   </label>
  <input [(ngModel)]="myCustumer.date" type="date" id="three" name="date" placeholder="Enter the Date ... ">

</div>
<div class="form-group">
  <label for="four">Price with Discount : </label>
  <input [(ngModel)]="myCustumer.phone" type='tel' id="four" name="phone" placeholder="Phone ... ">

</div>
<div class="form-group">
  <label for="five">DoesInMG : </label>
  <input [(ngModel)]="myCustumer.email" type="email" id="five" name="email" placeholder=" email ... ">

</div>
<div class="form-group">
  <label for="six">Add image : </label>
  <input [(ngModel)]="myCustumer.points" type="Number" id="six" name="points" placeholder="points ... ">

</div>
<div class="form-group">
  <label for="six">Category : </label>
  <select [(ngModel)]="myCustumer.points" >
      <option *ngFor='let c of cat' [value]='c.id'
</div>
<div class="form-group">
  <label for="six">Description : </label>
  <input [(ngModel)]="myCustumer.points" type="Number" id="six" name="points" placeholder="points ... ">

</div><br />
<button class='btn' *ngIf="!myCondition" (click)="postCustumer()" type="button">ADD Custumer</button>
<button class='btn'  *ngIf='myCondition' (click)='updatemyCustumer()' type="button">UPDATE Custumer</button>

</form>
<br />

<table class='table table-success'>
  <thead>
    <tr>
      <th>id</th>
      <th>name</th>
      <th>price</th>
      <th>discount</th>
      <th>pricewithDiscount</th>
      <th>DoesInMG</th>
      <th>quantity</th>
      <th>image</th>
      <th>description</th>

      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of myArray">
      <td>{{item.id}}</td>
      <td>{{item.name}}</td>
      <td>{{item.price}}</td>
      <td>{{item.discount}}</td>
      <td>{{item.pricewithDiscount}}</td>
      <td>{{item.DoesInMG}}</td>
      <td>{{item.quantity}}</td>
      <td>{{item.image}}</td>
      <td>{{item.description}}</td>


       <td>
         <button (click)="deleteCustumer(item._id)">delete</button>
         </td>
         <td>
          <button (click)="editCustumer(item)">Update</button>
          </td>
      <tr>
  </tbody>
</table>