<div id="preloader-active">
  <div class="preloader d-flex align-items-center justify-content-center">
      <div class="preloader-inner position-relative">
          <div class="preloader-circle"></div>
          <div class="preloader-img pere-text">
              <img src="../../assets/assets/img/logo/logo.png" alt="">
          </div>
      </div>
  </div>
</div>
<header>
  <!--? Header Start -->
  <div class="header-area">
      <div class="main-header header-sticky">
          <div class="container-fluid">
              <div class="row align-items-center">
                  <!-- Logo -->
                  <div class="col-xl-2 col-lg-2 col-md-1">
                      <div class="logo">
                          <a href="index.html"><img src="../../assets/assets/img/logo/logo.png" alt=""></a>
                      </div>
                  </div>
                  <div class="col-xl-10 col-lg-10 col-md-10">
                      <div class="menu-main d-flex align-items-center justify-content-end">
                          <!-- Main-menu -->
                          <div class="main-menu f-right d-none d-lg-block">
                              <nav>
                                  
                              </nav>
                          </div>
                          <div class="header-right-btn f-right d-none d-lg-block ml-30">
                              <a href="#" class="btn header-btn">Log In</a>
                          </div>
                      </div>
                  </div>   
                  <!-- Mobile Menu -->
                  <div class="col-12">
                      <div class="mobile_menu d-block d-lg-none"></div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- Header End -->
</header>


<main>
  <!--? Hero Start -->
  <div class="slider-area2">
      <div class="slider-height2 d-flex align-items-center">
          <div class="container">
              <div class="row">
              <div class="col-xl-12">
                  <div class="hero-cap hero-cap2 text-center">
                     

                    <div class="wrapper fadeInDown">
                      <div id="formContent">
                        <!-- Tabs Titles -->
                    
                     
                        
                    
                        <!-- Login Form -->
                        <form>
                          <input type="text" id="login" class="fadeIn second" name="login" placeholder="login">
                          <input type="text" id="password" class="fadeIn third" name="login" placeholder="password">
                          <input type="submit" class="fadeIn fourth" value="Log In">
                        </form>
                    
                        <!-- Remind Passowrd -->
                        <div id="formFooter">
                          <a class="underlineHover" href="#">Forgot Password?</a>
                        </div>
                    
                      </div>
                    </div>





                  </div>
              </div>
              </div>
          </div>
      </div>
  </div>
  <!-- Hero End -->
  <!--? department_area_start  -->
  
  </main>