<header>
  <!--? Header Start -->
  <div class="header-area">
    <div class="main-header header-sticky">
      <div class="container-fluid">
        <div class="row align-items-center">
          <!-- Logo -->
          <div class="col-xl-2 col-lg-2 col-md-1">
            <div class="logo">
              <a routerLink="/index"
                ><img src="../../assets/assets/img/logo/logo.png" alt=""
              /></a>
            </div>
          </div>
          <div class="col-xl-10 col-lg-10 col-md-10">
            <div
              class="menu-main d-flex align-items-center justify-content-end"
            >
              <!-- Main-menu -->
              <div class="main-menu f-right d-none d-lg-block">
                <nav>
                  <ul id="navigation">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="article.html">Articles</a></li>

                    <li><a href="statistics.html">statistics</a></li>
                    <li>
                      <a href="add.html">Add</a>
                      <ul class="submenu">
                        <li><a href="addmembers.html">Add members</a></li>
                        <li><a href="addcusstumers.html">Add custumers</a></li>
                      </ul>
                    </li>
                    <li><a href="bill.html">Bill</a></li>
                  </ul>
                </nav>
              </div>
              <div class="header-right-btn f-right d-none d-lg-block ml-30">
                <a href="#" class="btn header-btn">ADMIN</a>
              </div>
            </div>
          </div>
          <!-- Mobile Menu -->
          <!-- <div class="col-12">
            <div class="mobile_menu d-block d-lg-none"></div>
          </div> -->
        </div>
      </div>
    </div>

    <!-- Single Slider -->
  </div>

  <!-- Header End -->
</header>

<link
  href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css"
  rel="stylesheet"
  id="bootstrap-css"
/>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container">
  <div class="row centered-form">
    <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Add members</h3>
        </div>
        <div class="panel-body">
          <form role="form">
            <div class="row">
              <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group">
                  <input
                  [(ngModel)]="username"
                    type="text"
                    name="first_name"
                    id="first_name"
                    class="form-control input-sm"
                    placeholder="Name"
                  />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group">
                  <input
                  [(ngModel)]="password"
                    type="password"
                    name="password"
                    id="password"
                    class="form-control input-sm"
                    placeholder="password"
                  />
                </div>
              </div>
            </div>

            <input
            (click)="addMember()"
              type="submit"
              value="Register"
              class="btn btn-info btn-block"
            />
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
