.form-group{
  width:50%;
  margin-left:25%;
  padding:5px;

}
h1{
  color:#B52E31;
  text-shadow: 2px 2px grey;
  font-size:3rem;
  text-align: center;
  padding-top:2rem;
}
label{
  width: 60px;
}
table,.btn{ margin-left:300px}
th,td{ 
  border:5px solid #095484;
}